
/* Mobile */
@media(max-width: 768px){
   .navbar{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 120px;
   }
   .nav-left{
      width: 100%;
      justify-content: center;
   }
   .nav-right{
      gap: 10px;
      justify-content: center;
      align-items: center;
   }
   .bottom-div{
     height: 200px;
     width: 90%;
      align-content: center;
   }
   .bottom-container{
      width: 100%;
      align-items: center;
      margin: 0;
   }
   .btn-container{
      width: 100%;
      height: 70%;
      gap: 5px;
      flex-direction: column;
      align-content: center;
      align-items: center;
   }
}