

/* ------------------Fonts-------------*/
@font-face {
   font-family:'gotham';
   src: url('/font/GothamSSm-Medium.ttf');
}
@font-face {
   font-family: 'gotham-light';
   src: url('/font/GothamPro.ttf');
}


/* ------------------Ids -------------*/
#strong{
   font-size: 20px;
   font-weight: 500;
}
#small{
   font-size: 12px;
   font-weight: normal;
   font-family: 'gotham-light';
}
#white-btn{
   background-color: white;
   opacity: 0.8;
}
#black-btn{
   background-color: #222222;
   color: white;
   opacity: 0.8;
}
#white-btn:hover{
   background-color: rgb(210, 210, 210);
   cursor: pointer;
}
#black-btn:hover{
   background-color: #0f0e0e;
   color: white;
   cursor: pointer;
}
#white-text{
   color: white;
}
#last-icon{
   margin-right: 30px;
}


/* ------------------Images and Videos -------------*/
#home-video{
   position: absolute;
   z-index: -5;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#blue-car{
   background-image: url("/images/blue.jpg");
   background-size: 100% 650px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;

}
#red-car{
   background-image: url("/images/red.jpg");
   background-size: 100% 650px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;

}
#model-x{
   background-image: url("/images/x.jpg");
   background-size: 100% 650px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

